<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
    <title>Tarsier v0.1</title>

    <link rel="stylesheet" href="static/fontawesome-free-5.0.6/web-fonts-with-css/css/fontawesome-all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="static/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="static/bootstrap-4.0.0-beta.2/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/babylon.custom.js"></script>
    <script type="text/javascript" src="static/tarsier.js"></script>
    <script type="text/javascript" src="static/math.min.js"></script>
    <script type="text/javascript" src="static/SEPA_kpi.js"></script>
    <style>
      #renderCanvas {
      width   : 100%;
      height  : 100%;
      touch-action: none;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
      <a class="navbar-brand" href="#">Tarsier v0.1</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
      </button>
      <a href="#" class="navbar-left"><img src="static/tarsier_small.png"></a>
    </nav>


    <div class="container-fluid">
      <div class="row">

	<!-- COLUMN 1 -->
	<div class="col p-0 m-2">
	  
	  <!-- LOAD JSAP -->
	  <div class="card border border-dark rounded-3 m-1 mt-0">
	    <div class="card-header text-white bg-dark rounded-0"><i class="fab fa-js-square"></i>&nbsp;Load JSAP</div>
	    <div class="card-body font-weight-light">
	      <form>
		<div class="form-group">
		  <input type="file" class="form-control-file" id="formFile1">
		</div>
		<button type="button" class="btn btn-dark btn-sm" onClick="javascript:loadJSAP();">Load</button>
	      </form>
	    </div>
	    <div class="card-footer">
	      <small><i class="fas fa-info-circle"></i>&nbsp;Load JSAP file</small>
	    </div>
	  </div>

	  <!-- SEPA PARAMS -->
	  <div class="card border border-dark rounded-3 m-1 mt-2">
	    <div class="card-header text-white bg-dark rounded-0"><i class="fas fa-sliders-h"></i>&nbsp;SEPA Parameters</div>
	    <div class="card-body font-weight-light">
	      <form>
		<div class="input-group input-group-sm">
		  <span class="input-group-addon" id="basic-addon1">Subscribe URL</span>
		  <input type="text" class="form-control" placeholder="ws://wot.arces.unibo.it:9000/subscribe" aria-describedby="basic-addon1" id="subscribeUriInput">
		</div>
		<br>
		<div class="input-group input-group-sm">
		  <span class="input-group-addon" id="basic-addon1">Query URL</span>
		  <input type="text" class="form-control" placeholder="http://wot.arces.unibo.it:8000/query" aria-describedby="basic-addon1" id="queryUriInput">
		</div>
	      </form>
	    </div>
	    <div class="card-footer">
	      <small><i class="fas fa-info-circle"></i>&nbsp;Connection parameters</small>
	    </div>
	  </div>

	  <!-- SETTINGS -->
	  <div class="card border border-dark rounded-3 m-1 mt-2">
	    <div class="card-header text-white bg-dark rounded-0"><i class="fas fa-sliders-h"></i>&nbsp;Settings</div>
	    <div class="card-body font-weight-light">
	      <form>
		<div class="input-group input-group-sm">
		  <span class="input-group-addon" id="basic-addon1">Classes</span>
		  <input type="color" class="form-control" aria-describedby="basic-addon1" id="classesColor">		  
		</div>
		<br>
		<div class="input-group input-group-sm">
		  <span class="input-group-addon" id="basic-addon1">Data Prop.</span>
		  <input type="color" class="form-control" aria-describedby="basic-addon1" id="datapropColor">
		</div>
		<br>
		<div class="input-group input-group-sm">
		  <span class="input-group-addon" id="basic-addon1">Object Prop.</span>
		  <input type="color" class="form-control" aria-describedby="basic-addon1" id="objpropColor">
		</div>
		<br>
		<div class="input-group input-group-sm">
		  <span class="input-group-addon" id="basic-addon1">RDF Type</span>
		  <input type="color" class="form-control" aria-describedby="basic-addon1" id="rdftypeColor">
		</div>
		<br>
		<div class="input-group input-group-sm">
		  <span class="input-group-addon" id="basic-addon1">Instances</span>
		  <input type="color" class="form-control" aria-describedby="basic-addon1" id="instancesColor">
		</div>
		<br>
		<div class="input-group input-group-sm">
		  <span class="input-group-addon" id="basic-addon1">Planes</span>
		  <input type="color" class="form-control" aria-describedby="basic-addon1" id="groundColor">
		</div>
		<br>
		<div class="input-group input-group-sm">
		  <span class="input-group-addon" id="basic-addon1">Level of detail</span>
		  <input type="text" class="form-control" aria-describedby="basic-addon1" id="lod">
		</div>
		<br>
		<div class="input-group input-group-sm">
		  <span class="input-group-addon" id="basic-addon1">Mesh - Plane gap</span>
		  <input type="text" class="form-control" aria-describedby="basic-addon1" id="meshPlaneGap">
		</div>
		<br>
		<div class="input-group input-group-sm">
		  <span class="input-group-addon" id="basic-addon1">Plane - Plane gap</span>
		  <input type="text" class="form-control" aria-describedby="basic-addon1" id="planePlaneGap">
		</div>
		<br>
		<div class="input-group input-group-sm">
		  <span class="input-group-addon" id="basic-addon1">Bump</span>
		  <input type="text" class="form-control" aria-describedby="basic-addon1" id="bump">
		</div>
	      </form>
	    </div>
	    <div class="card-footer">
	      <small><i class="fas fa-info-circle"></i>&nbsp;Colors</small>
	    </div>
	  </div>
	  
	</div>

	<!-- COLUMN 2-->
	<div class="col-9 p-0 m-2">
	    <button type="button" class="btn btn-light btn-sm" onClick="javascript:sendRequest('{{ requestUri }}');"><i class="fas fa-arrow-alt-circle-down"></i>&nbsp;Get Data</button>		
	    <button type="button" class="btn btn-light btn-sm" onClick="javascript:draw();"><i class="fas fa-pencil-alt"></i>&nbsp;Plot</button>
	    <button type="button" class="btn btn-light btn-sm" onClick="javascript:raise(true);"><i class="fas fa-arrow-up"></i>&nbsp;Raise</button>
	    <button type="button" class="btn btn-light btn-sm" onClick="jacascript:raise(false);"><i class="fas fa-arrow-down"></i>&nbsp;Lower</button>
	    <button type="button" class="btn btn-light btn-sm" onClick="jacascript:resetPlanes();"><i class="fas fa-window-minimize"></i>&nbsp;Reset planes</button>
	    <button type="button" class="btn btn-light btn-sm" onClick="jacascript:resetView();"><i class="fas fa-trash"></i>&nbsp;Reset view</button>
	    <button type="button" class="btn btn-light btn-sm" onClick="jacascript:screenshot();"><i class="fas fa-image"></i>&nbsp;Save PNG</button>
	  <div class="card" id="renderCard">
	    <canvas id="renderCanvas" style="height:100%; width:100%;"></canvas>
	  </div>
	  Move Camera:
	  <button type="button" class="btn btn-light btn-sm" onClick="jacascript:moveCamera('up', 5);"><i class="fas fa-angle-up"></i></button>
	  <button type="button" class="btn btn-light btn-sm" onClick="jacascript:moveCamera('left', 5);"><i class="fas fa-angle-left"></i></button>
	  <button type="button" class="btn btn-light btn-sm" onClick="jacascript:moveCamera('right', 5);"><i class="fas fa-angle-right"></i></button>
	  <button type="button" class="btn btn-light btn-sm" onClick="jacascript:moveCamera('down', 5);"><i class="fas fa-angle-down"></i></button>
	 
	  <button type="button" class="btn btn-light btn-sm" onClick="jacascript:moveCamera('up', 20);"><i class="fas fa-angle-double-up"></i></button>
	  <button type="button" class="btn btn-light btn-sm" onClick="jacascript:moveCamera('left', 20);"><i class="fas fa-angle-double-left"></i></button>
	  <button type="button" class="btn btn-light btn-sm" onClick="jacascript:moveCamera('right', 20);"><i class="fas fa-angle-double-right"></i></button>
	  <button type="button" class="btn btn-light btn-sm" onClick="jacascript:moveCamera('down', 20);"><i class="fas fa-angle-double-down"></i></button>
	  
	</div>
      </div>

      <div class="row">
	<div class="col p-0 m-2">
	  <!-- CLASSES -->
          <div class="card border-dark rounded-3 m-1 mt-2">
    	    <div class="card-header text-white bg-dark rounded-0">
    	      <i class="fa fa-bars" aria-hidden="true"></i>&nbsp;Classes
    	    </div>
	    <div class="card-body text-center">
	      <div class="btn-group btn-group-sm" align="center">		  
		<button type="button" class="btn btn-light btn-sm" onClick="javascript:selectAll('classes', true);">Select All</button>
		<button type="button" class="btn btn-light btn-sm" onClick="javascript:selectAll('classes', false);">Deselect All</button>
		<button type="button" class="btn btn-light btn-sm" data-toggle="collapse" data-target="#collapseClasses" aria-expanded="false" aria-controls="collapseClasses">Show/Hide</button>
	      </div>	      
	    </div>
    	    <div class="card-body font-weight-light collapse" id="collapseClasses">
    	      <div class="card-text font-weight-light" id="logWindow">
		<small>
		<table id="classesTable">
		</table>
		</small>
    	      </div>
    	    </div>
    	    <div class="card-footer">
    	      <small><i class="fas fa-info-circle"></i>&nbsp;Debug messages</small>
    	    </div>
          </div>
	</div>

	<div class="col p-0 m-2">
	  <!-- DATATYPE PROPERTIES -->
          <div class="card border-dark rounded-3 m-1 mt-2">
    	    <div class="card-header text-white bg-dark rounded-0">
    	      <i class="fa fa-bars" aria-hidden="true"></i>&nbsp;Data Properties
    	    </div>
	    <div class="card-body text-center">
	      <div class="btn-group btn-group-sm" align="center">		  
		<button type="button" class="btn btn-light btn-sm" onClick="javascript:selectAll('dataProperties', true);">Select All</button>
		<button type="button" class="btn btn-light btn-sm" onClick="javascript:selectAll('dataProperties', false);">Deselect All</button>
		<button type="button" class="btn btn-light btn-sm" data-toggle="collapse" data-target="#collapseDps" aria-expanded="false" aria-controls="collapseDps">Show/Hide</button>
	      </div>	      
	    </div>
    	    <div class="card-body font-weight-light collapse" id="collapseDps">
    	      <div class="card-text font-weight-light" id="logWindow">
		<small>
		<table id="dataPropertiesTable">
		</table>
		</small>
    	      </div>
    	    </div>
    	    <div class="card-footer">
    	      <small><i class="fas fa-info-circle"></i>&nbsp;Debug messages</small>
    	    </div>
          </div>

	</div>
	<div class="col p-0 m-2">
          <!-- OBJECT PROPERTIES -->
          <div class="card border-dark rounded-3 m-1 mt-2">
    	    <div class="card-header text-white bg-dark rounded-0">
    	      <i class="fa fa-bars" aria-hidden="true"></i>&nbsp;Object Properties
    	    </div>
	    <div class="card-body text-center">
	      <div class="btn-group btn-group-sm" align="center">		  
		<button type="button" class="btn btn-light btn-sm" onClick="javascript:selectAll('objectProperties', true);">Select All</button>
		<button type="button" class="btn btn-light btn-sm" onClick="javascript:selectAll('objectProperties', false);">Deselect All</button>
		<button type="button" class="btn btn-light btn-sm" data-toggle="collapse" data-target="#collapseOps" aria-expanded="false" aria-controls="collapseOps">Show/Hide</button>
	      </div>	      
	    </div>
    	    <div class="card-body font-weight-light collapse" id="collapseOps">
    	      <div class="card-text font-weight-light" id="logWindow">
		<small>
		<table id="objectPropertiesTable">
		</table>
		</small>
    	      </div>
    	    </div>
    	    <div class="card-footer">
    	      <small><i class="fas fa-info-circle"></i>&nbsp;Debug messages</small>
    	    </div>
          </div>
	</div>
	<div class="col p-0 m-2">
	  <!-- INSTANCES -->
	  <div class="card border-dark rounded-3 m-1 mt-2">
    	    <div class="card-header text-white bg-dark rounded-0"><i class="fa fa-bars" aria-hidden="true"></i>&nbsp;Instances</div>
	    <div class="card-body text-center">
	      <div class="btn-group btn-group-sm" align="center">		  
		<button type="button" class="btn btn-light btn-sm" onClick="javascript:selectAll('instances', true);">Select All</button>
		<button type="button" class="btn btn-light btn-sm" onClick="javascript:selectAll('instances', false);">Deselect All</button>
		<button type="button" class="btn btn-light btn-sm" data-toggle="collapse" data-target="#collapseInstances" aria-expanded="false" aria-controls="collapseInstances">Show/Hide</button>
	      </div>	      
	    </div>
    	    <div class="card-body font-weight-light collapse" id="collapseInstances">
	      <small>
		<table id="instancesTable">
		</table>
	      </small>
    	    </div>
    	    <div class="card-footer">
    	      <small><i class="fas fa-info-circle"></i>&nbsp;Info about SEPA LoadSimulator</small>
    	    </div>
          </div>

	</div>
      </div>
      
      <div class="row">

	<!-- COLUMN 1 -->
	<div class="col p-0 m-2">
	  <div class="card border-dark rounded-3 m-1 mt-2">
    	    <div class="card-header text-white bg-dark rounded-0"><i class="fa fa-bars" aria-hidden="true"></i>&nbsp;SPARQL Input</div>
    	    <div class="card-body font-weight-light">
	      <textarea class="form-control" id="sparql" rows="10"></textarea>
	      <div class="btn-group btn-group-sm" align="center">		  
		<button type="button" class="btn btn-light btn-sm" onClick="javascript:sparqlFilter('{{ requestUri }}', false);"><i class="fas fa-filter"></i><i class="fas fa-window-minimize"></i>&nbsp;Filter</button>
		<button type="button" class="btn btn-light btn-sm" onClick="javascript:sparqlFilter('{{ requestUri }}', true);"><i class="fas fa-filter"></i><i class="fas fa-bars"></i>&nbsp;Filter (multi-layer)</button>
		<button type="button" class="btn btn-light btn-sm" onClick="javascript:help('filter');"><i class="fas fa-life-ring"></i>&nbsp;Help</button>
	      </div>	      	      
    	    </div>
    	    <div class="card-footer">
    	      <small><i class="fas fa-info-circle"></i>&nbsp;Info about SEPA LoadSimulator</small>
    	    </div>
          </div>
	</div>

	<!-- COLUMN 2 -->
	<div class="col p-0 m-2">	    
	  <div class="card border-dark rounded-3 m-1 mt-2">
    	    <div class="card-header text-white bg-dark rounded-0"><i class="fas fa-book" aria-hidden="true"></i>&nbsp;Help</div>
    	    <div class="card-body font-weight-light">
	      <img src="static/tarsier_medium.png">
	      <small>
    	      <b>Tarsier</b> is released under <b>GNU GPL v3
    	      License</b> and maintained by Fabio Viola (fabio.viola
    	      at unibo dot it).
	      </small>
    	    </div>
    	    <div class="card-footer">
    	      <small><i class="fas fa-info-circle"></i>&nbsp;Info about SEPA LoadSimulator</small>
    	    </div>
          </div>	    
	</div>
	
      </div>		
    </div>
  </body>
</html>
